html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}  

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.row {
	margin : 0px;
}
.navbar, navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
}

.navbar-nav li a {
	color: #fbc02d !important;
	font-weight: bold;
}

.navbar-nav  li a:hover {
  color: #fff !important;
}

.navbar-brand {
	font-size: 25px;
	color: #fff !important;
}

.section-1 {
	background: #0086fe;
	height: 100%;
}

.banner-text {
	padding: 5rem;
}

.banner span {
	color: black;
	font-weight: bold;
}

.img-circle{
	padding-bottom: 2rem;
}

.banner h2 {
	color: #fbc02d;
	letter-spacing: 3px;
}
.banner h4 {
	letter-spacing: 3px;
}
.about-me li {
    list-style: none;
    display: block;
    margin-bottom: 25px;
    color: #8a8a8a;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.about-me li span {
	width: 141px;
    display: inline-block;
    color: #4a4a4a;
    font-weight: 600;
}
/**
 * Footer Styles
 */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}