html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}  

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font: 20px Montserrat, sans-serif;
  color: #f5f6f7;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 1px;
}	
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

p {
	color: black;
}

.section-1 { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.section-2 { 
  background-color: #474e5d; /* Green */
  color: #ffffff;
}

.section-3 { 
  background-color: #ffffff; /* Green */
  color: black;
}
/**
 * Footer Styles
 */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}